.jumbotron {
    position: relative;
    height: 600px;
    background-image: url('img/KANTOR-at-093427-800x600-1-400x232.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Warna overlay hitam dengan transparansi 50% */
    z-index: 1;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
}

h1.display-3 {
    font-size: 5rem;
    margin: 0;
}

p.lead {
    font-size: 1.5rem;
}

.card img {
    filter:contrast(2);
}

.arrow-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.arrow-list li {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
}
.arrow-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 1px solid #347bc2;
    border-right: 20px solid transparent;
    border-top: 10px solid #347bc2;
    transform: translateY(-50%);
}

.arrow-list li a {
    opacity: 50%;
}

.arrow-list li a:hover {
    opacity: 100%;
}
